.abc {

    position: relative;


    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 20px;
        color: #fff;
        max-width: 100%;
    }

    .carousel {
        width: 100vw;
        height: 100vh;
        background: yellow;
        display: flex;
        justify-content: center;
        align-items: center;

        .carousel-item img {
            max-width: 100%;
            max-height: 100vh;
            display: block;
        }

        .carousel-control-next {
            display: none;
        }

        .carousel-control-prev {
            display: none;
        }

        .carouselImage {
            position: relative;
        }

        .carouselOverlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            // background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            color: #fff;
            // padding: 20px;
            z-index: 1;
        }

    }
}